<%- include('partials/header', {title: 'Payment Success'}) %>
<div class="row">
  <%- include('partials/sidebar') %>
  <div class="col-md-9">
    <h1>Payment Successful</h1>
    <p>Congratulations! Your transaction is complete and your credits have been successfully recorded.</p>
    <a href="/dashboard" class="btn btn-primary">Return to Dashboard</a>
  </div>
</div>
<%- include('partials/footer') %>
