<%- include('partials/header', {title: 'Payment Cancelled'}) %>
<div class="row">
  <%- include('partials/sidebar') %>
  <div class="col-md-9">
    <h1>Payment Cancelled</h1>
    <p>Your transaction has been cancelled and no charges have occurred. If this was a mistake, you can attempt the payment process again.</p>
    <a href="/buy-credits" class="btn btn-primary">Try Again</a>
  </div>
</div>
<%- include('partials/footer') %>
