<%- include('partials/header', {title: 'Error'}) %>
<div class="row">
  <%- include('partials/sidebar') %>
  <div class="col-md-9">
    <h1>Error</h1>
    <p><%= message %></p>
    <a href="/">Return to home</a>
  </div>
</div>
<%- include('partials/footer') %>
